<% layout("./layouts/boilerplate")-%>
<div class="container h-100 d-flex justify-content-center align-items-center" style="padding-top: 20%;">
    <div class="text-center">
      <h1 class="display-4 fw-bold mb-4">Welcome to Wanderlust</h1>
      <a href="/listings" class="btn btn-lg" style="margin-top: 20%; background-color: #fe424d; color: white;">
        Get Started <span class="ms-2">&rarr;</span>
      </a>
    </div>
</div>



