
/* Filters */
#filters{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}   
.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.filter p{
    font-size: 0.8rem;
}
.filter a{
    text-decoration: none;
}